.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 150px;
  height: 120px;
  border-radius: 5px;
  background-color: red;
  padding: 10px;
  gap: 5px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white !important;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.hello{
  color: #fff;
}
